  <div>
    <label for="name">Source Node ID:</label>
    <input type="number" id="src" name="src">
  </div>
  <div>
    <label for="mail">Destination Node ID:</label>
    <input type="number" id="dst" name="dst">
  </div>
  <div class="button">
		<button onclick="findSP()">Find SP</button>
	</div>